#description{
    width: 422px;
    background-color: #00000085;
    box-shadow: 5px 5px 5px #2a282863;
    padding: 15px;
    position: relative;
    top: 55px;
    left: 635px;
}

#ds-title{
    color: #8f82fdb5;
    margin-bottom: 5px;
}

#ds-content{
    color: #ffffffc7;
}